
<div class="row" id="register">
	<div class="col-md-12" id="header">
		<div class="col-md-1">
			<button class="btn btn-default btn-lg btn-block" ng-click="scrollToggle()">
				<span class="{{scrollStateIcon}}"></span>
			</button>
		</div>
		<div class="col-md-8">
			<div class="btn-group">
				<label class="btn btn-warning btn-lg" ng-repeat="(key, icon) in icons.orderTypes">
	    			<input type="radio" name="orderTypes" value="{{key}}" ng-model="order.orderType" id="{{key}}">
	    			<span class="{{icon}}" style="margin-left: 5px"></span>
	  			</label>
			</div>
			<div class="btn-group">
				<label class="btn btn-info btn-lg" ng-repeat="(key, icon) in icons.htTypes">
	    			<input type="radio" name="htTypes" value="{{key}}" ng-model="order.htType" id="{{key}}">
	    			<span class="{{icon}}" style="margin-left: 5px"></span>
	  		</label>
			</div>
			<select class="input-lg" ng-model="order.number" style="margin: 7px 10px 0px 10px; width:70px;">
				<option selected>No</option>
				<option ng-repeat="number in numbers">{{number}}</option>
			</select>
			<button class="btn btn-success">Name<br>Time</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-lg pull-right" ng-click="save()" ng-show="isUpdateMode">
				<span class="{{icons.save}}">Save</span>
			</button>
			<button class="btn btn-danger btn-lg pull-right" ng-click="add()" ng-show="!isUpdateMode">
				<span class="{{icons.save}}">Save</span>
			</button>
			<button class="btn btn-warning btn-lg pull-right" ng-click="delete()" ng-show="isUpdateMode">
				<span class="{{icons.delete}}">Delete</span>
			</button>
		</div>

	</div>

	<div class="menu-container col-md-8" style="padding: 0 5px;">
		<div class="floatleft col-md-2" ng-repeat="row in rows" style="padding: 0 5px">	
		  	<button class="menu btn btn-default btn-lg" ng-click="addItem(menu)" ng-repeat="menu in menus">
					<span>{{menu.name}}</span>
		  	</button>
		</div>
	</div>

  <div class="col-md-4">
  	<div id="receipt">
	  	<div>
	  		<a href="#/payment"><h2 class="text-right">{{order.total | currency}}</h2></a>
	  	</div>
			<div class="list-group">
		  	<a href="" class="list-group-item list-group-item-warning" ng-repeat="item in order.items" ng-click="openModal(item, $index)" ng-class="{active: item.selected}">
		  		<div>
		  			<span>{{item.name}}</span>
		  			<span ng-show="item.qty-1"> X {{item.qty}}</span>
						<span class="pull-right">{{item.price * item.qty | currency}}</span>
					</div>
					<div><small>{{item.options | optionsToString}}</small></div>
		  	</a>
		  </div>
		  <div ng-show="totalShow">
		  	<div class="pull-right" style="color: #333">
			  	{{ order.subtotal | currency }} + {{ order.tax | currency }} = {{ order.total | currency }}
			  </div><br>
		  	<button class="btn btn-warning btn-lg btn-block" ng-click="removeAllItems()" style="margin: 10px 0">Remove All</button>
			</div>
		</div>
  </div>
</div>

<div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
		<div class="modal-content">
	  	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="optionModalLabel">{{selectedItem.name}}</h4>
	  	</div>
	  	<div class="modal-body" class="row" style="overflow:hidden">
	  		<form name="myForm" role="form">
	  			<div class="col-md-6">
						<div class="form-group" ng-class="{error: myForm.name.$invalid}">
					    <label>Name : {{selectedItem.name}}</label>
					    <input type="text" class="form-control" name="name" ng-model="selectedItem.name" required>
					  </div>
						<div class="form-group" ng-class="{error: myForm.qty.$invalid}">
					    <label>Qty : {{selectedItem.qty}}</label>
					    <input type="number" class="form-control" name="qty" ng-model="selectedItem.qty" required>
					  </div>
						<div class="form-group" ng-class="{error: myForm.name.$invalid}">
					    <label>Base Price : {{selectedItem.basePrice}}</label>
					    <input type="text" class="form-control" name="basePrice" ng-model="selectedItem.basePrice" required>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: myForm.name.$invalid}">
					    <label>Option Price : {{selectedItem.optionPrice}}</label>
					    <input type="text" class="form-control" name="optionPrice" ng-model="selectedItem.optionPrice" required>
					  </div>
						<div class="form-group" ng-class="{error: myForm.options.$invalid}">
					    <label>Options : {{selectedItem.options | optionsToString}}</label>
					    <div ng-repeat="(key, option) in selectedItem.options track by key">
					    	<input type="text" class="form-control" name="optionName" ng-model="option.name">
					    	<input type="text" class="form-control" name="optionPrice" ng-model="option.price">
					    </div>
					  </div>
					</div>
				</form>
	  	</div>
	  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="removeItem()" data-dismiss="modal">Remove</button>
	  	</div>
		</div>
  </div>

</div>

<div class="modal fade" id="newMenuModal" tabindex="-1" role="dialog" aria-labelledby="newMenuModalLabel" aria-hidden="true">
  <div class="modal-dialog">
		<div class="modal-content">
	  	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="newMenuModalLabel">Add New Menu</h4>
	  	</div>
	  	<div class="modal-body" class="row" style="overflow:hidden">
	  		<form name="myForm" role="form">
					<label>Menu Group: {{groups[menuGroupKey].name}}</label><br>
					<label>Name: </label>
					<input type="text" class="form-control" name="name" ng-model="newMenu.name" placeholder="Enter menu name">
					<label>Price: </label>
					<input type="text" class="form-control" name="price" ng-model="newMenu.price" placeholder="Enter menu price">
					<label>Abbr: </label>
					<input type="text" class="form-control" name="abbr" ng-model="newMenu.abbr" placeholder="Enter short name">
					<label>Type: </label>
					<select class="form-control" name="type" ng-model="newMenu.type">
						<option ng-repeat="type in types.menu">{{type}}</option>
					</select>
				</form>
	  	</div>
	  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" ng-click="addNewMenu()" data-dismiss="modal">Submit</button>
		  </div>
		</div>
  </div>
</div>

