<div class="modal-header">
	<button class="btn btn-default pull-right" ng-click="close()">Close</button>
	<h4>{{menus[groupkey].name}}</h4>
</div>
<div class="modal-body row">
	<div class="col-md-3" ng-repeat="menu in menus | orderByPriority | filter:{parent:groupkey}" style="padding: 0 5px">
  		<button class="menu btn btn-default btn-lg {{menu.backgroundColor}} {{menu.textColor}}" ng-click="select(menu)">
			<span>{{menu.abbr}}</span>
			<p class="{{menu.textColor}}">{{menu.name}}</p>
			<div class="tag red">{{menus[menus[menu.$id].parent].name}}</div>
  		</button>
  	</div>
</div>