<div class="jumbotron">
  <h1>Welcome, Midori Web POS System!</h1>
  <p>ver 0.2</p>
  <p>
    <a href="#/newCashier"><button class="btn btn-primary btn-lg" role="button">Cashier</button></a>
  	<!--<a href="#/cashier"><button class="btn btn-primary btn-lg" role="button">Cashier</button></a>
 	  <a href="#/customer"><button class="btn btn-primary btn-lg" role="button">Customer Display</button></a>-->
    <a href="#/kitchen"><button class="btn btn-primary btn-lg" role="button">Kitchen</button></a>
  	<a href="#/settlement"><button class="btn btn-primary btn-lg" role="button">Settlement</button></a>
  	<!--<a href="#/timesheet"><button class="btn btn-primary btn-lg" role="button">Time Recording</button></a>-->
    <a href="#/printing"><button class="btn btn-primary btn-lg" role="button">Kitchen Printing OLD</button></a>
    <a href="#/receiptPrinting"><button class="btn btn-primary btn-lg" role="button">Receipt Printing</button></a>
    <a href="#/ticketPrinting"><button class="btn btn-primary btn-lg" role="button">Ticket Printing</button></a>
  </p>
</div>
