<div class="block kitchenList" ng-class="{grey: (order.state=='Done'), bg_yellow: (order.state=='Arrived')}">
	<div class="pull-right text-right">
		<!--<span ng-hide="order.orderType!='In-person'">
			<span class="small-panel" ng-class="{bg_blue: (order.htType=='Togo'), bg_red: (order.htType!='Togo')}">{{order.htType | firstOne}}</span>
		</span>-->
		<span ng-show="order.orderType!='In-person'" class="small-panel bg-green">{{order.orderType | firstOne}}</span>
		<span class="orderNumber small-panel" ng-dblclick="done()"
			ng-class="{
				bg_yellow: (order.diff<1),
				bg_green: (order.diff>=1 && order.diff<10),
				bg_red: (order.diff>=10)
			}"
		>
			<span>{{ order.number | lastTwoDigits}}</span>
			<span class="duration text-right text-blue" ng-class="{grey: (order.state=='Done')}">{{ order.diff || 0 }}</span>
		</span>
		<!--<button ng-show="order.state=='Ready'" ng-click="back()">-</button>-->
		<br>
		<span class="small text-right red" ng-class="{grey: (order.state=='Done')}">{{ order.reserved_time | date:'shortTime' }}</span>
		<span class="small text-right red" ng-class="{grey: (order.state=='Done')}" ng-show="(order.orderType != 'In-person') && (order.htType == 'Here')">HERE</span>
	</div>
	<div>
		<div ng-repeat="item in order.items" ng-hide="item.noDisplay" ng-class="{bg_light_green: (item.job=='Grill'), bg_light_red: (item.job=='Wok'), grey: (order.state=='Done'), smaller: item.done}">
			<span ng-show="order.state=='Arrived'" class="glyphicon glyphicon-user red"></span>
			<!-- put it back {{ item.rice | riceSymbol }} upperline 2/15/17 -->
			<span class="small-panel"
				ng-click="itemDone(item)"
				ng-class="{bg_blue: (order.htType=='Togo'), bg_red: (order.htType!='Togo')}">
				{{order.htType | firstOne}}{{ item.rice | riceSymbol }}
			</span>
			<span ng-show="item.qty-1" class="small-panel bg-blue">{{ item.qty }}</span>
			<span>{{ item.abbr }}</span>
			<div class="smallfont" ng-class="{grey: (order.state=='Done')}" style="line-height:120%;">{{item | optionsToString2}}</div>
		</div>
	</div>
</div>
