<div class="row">
  <div id="orderlist" class="col-sm-6">
    <table class="table" style="font-size: 25px; font-weight: bold;">
        <tr ng-repeat="order in orders | orderByPriority | orderBy:'created_at':false" ng-show="order.state == 'Place' || order.state == 'Taken' || order.state == 'Arrived' || order.state == 'Ready'" style="border-bottom: 3px solid #333">
          <td>
            <orderlist order="order" types="types" fullname="false" save="save_order_state(order)"></orderlist>
          </td>
        </tr>
      </table>
  </div>
  <div id="orderlist" class="col-sm-6">
    <table class="table" style="font-size: 25px; font-weight: bold;">
        <tr ng-repeat="order in orders | orderByPriority | orderBy:'created_at':true" ng-show="(order.state=='Done'||order.state=='Canceled')"  style="border-bottom: 3px solid #333">
          <td>
            <orderlist order="order" types="types" fullname="false" save="save_order_state(order)"></orderlist>
          </td>
        </tr>
      </table>
  </div>
</div>



