
<div class="customer_ticket">
	<div class="text-center" style="font-size: 200px; line-height: 100%; margin-top: 0px;"><strong>{{order_printing.number | lastTwoDigits}}</strong></div>
	<div>
		<div ng-repeat="item in order_printing.items">
			<span>{{ item.name }}</span>
			<span ng-show="item.qty-1"> X {{ item.qty }}</span>
			<span class="pull-right">{{ item.price * item.qty | currency }}</span>
			<!--<div>{{item | optionsToString}}</div>-->
		</div>
		<div class="clear">
			<div class="pull-right">
				<div class="text-right">Subtotal: {{order_printing.subtotal | currency }}</div>
				<div class="text-right">Tax: {{order_printing.tax | currency }}</div>
				<div class="text-right">Total: {{order_printing.total | currency }}</div>
			</div>
			<div>
				<div>{{order_printing.orderType}} </div>
				<div>{{order_printing.htType}} </div>
				<div>{{order_printing.paymentType}} </div>
			</div>
		</div>
		<div class="text-right">
			<span ng-show="order_printing.customer_name">{{order_printing.customer_name}} </span>
			<span ng-show="order_printing.reserved_time">at {{order_printing.reserved_time | date: 'shortTime'}}</span>
			<div>{{ order_printing.created_at | date:'short'}}</div>
		</div>
	</div>
	<div class="text-center">
		<p>
			<strong>MIDORI TERIYAKI</strong><br>
			1120 Howell St. Seattle WA 98101<br>
			www.TeriyakiOnline.com
		</P>
	</div>
</div>



