<div ng-click="flip()" style="overflow:hidden" ng-class="{grey: (order.state=='Done')}">
	<div>
		<div class="pull-left">
			<div ng-repeat="item in order.items" ng-class="{strike: (item.state == 'Ready')}" ng-hide="item.noDisplay">
				<span ng-show="item.qty-1" class="text-red">{{ item.qty }}</span>
				<span ng-show="fullname">{{ item.name }}</span><span ng-hide="fullname">{{ item.abbr }}</span>
				<span class="red smallfont" ng-class="{grey: (order.state=='Done')}">{{item | optionsToString2}}</span>
			</div>
		</div>
		<div class="pull-right text-right" ng-click="select()" stop-event="click" style="font-size: 70%">
			<span ng-repeat="type in types.orderTypes | filter:{name:order.orderType}" class="{{type.icon}}" ng-show="order.orderType!='In-person'"></span>
			<span ng-repeat="type in types.htTypes | filter:{name:order.htType}" class="{{type.icon}} {{type.color}}"></span>
			<span ng-show="order.number>0">{{ order.number }}</span>
			<span ng-repeat="type in types.orderStates | filter:{name:order.state}" class="{{type.icon}} {{type.color}}" ng-class="{grey: (order.state=='Done')}" ng-hide="kitchen"></span>
			<span ng-repeat="type in types.paymentTypes | filter:{name:order.paymentType}" class="{{type.icon}} {{type.color}}" ng-class="{grey: (order.state=='Done')}" ng-hide="kitchen"></span>
			<span class="small text-right text-red" ng-show="order.diff">{{ order.diff }}</span>
			<br>
			<span class="small text-right" ng-show="order.status" ng-class="{grey: (order.state=='Done')}" ng-hide="kitchen">{{ order.status }}</span>
			<!--<span class="small text-right" ng-show="false">{{ order.created_at | date:'shortTime' }}</span>-->
			<span class="small text-right" ng-hide="kitchen">{{ order.customer_name }}</span>
			<span class="small text-right red" ng-class="{grey: (order.state=='Done')}">{{ order.reserved_time | date:'shortTime' }}</span>
		</div>
	</div>
	<div ng-show="backside">
		<div class="btn-group btn-group-sm" ng-click="save()">
			<button type="button" class="btn btn-primary" ng-repeat="type in types.orderStates" ng-model="order.state" btn-radio="type.name">
				<span class="{{type.icon}}"><br>{{type.name}}</span>
			</button>
		</div>
	</div>
</div>
