<div class="row">
	<div class="btn-group btn-group-sm col-sm-7">
		<span ng-repeat="type in types.orderTypes | filter:{name:order.orderType}" class="{{type.icon}} btn btn-default"><br>{{type.name}}</span>
		<span ng-repeat="type in types.htTypes | filter:{name:order.htType}" class="{{type.icon}} btn btn-default"><br>{{type.name}}</span>
		<span class="btn btn-default glyphicon glyphicon-tag"><br>{{order.number}}</span>
		<span ng-repeat="type in types.orderStates | filter:{name:order.state}" class="{{type.icon}} btn btn-default"><br>{{type.name}}</span>
		<span ng-repeat="type in types.paymentTypes | filter:{name:order.paymentType}" class="{{type.icon}} btn btn-default"><br>{{type.name}}</span>
	</div>
	<div class="text-bold col-sm-5">
		<div ng-repeat="item in order.items">
			<div>
				<span ng-show="item.qty-1" class="text-red">{{ item.qty }}</span>
				<span>{{item.name}}</span>
				<span class="pull-right">{{item.price * item.qty | currency}}</span>
			</div>
			<ul style="font-size: 80%;">
				<li ng-repeat="option in item.options">
					<span>{{option.name}}</span>
					<span ng-show="option.price"> {{option.price | currency}}
				</li>
			</ul>
			<div>{{item.special_instruction}}</div>
		</div>
		<hr>
		<div>
			<table class="pull-right">
				<tr><td class="text-right">Subtotal: </td><td class="text-right">{{order.subtotal | currency}}</td></tr>
				<tr><td class="text-right">Tax: </td><td class="text-right">{{order.tax | currency}}</td></tr>
				<tr><td class="text-right">Total: </td><td class="text-right">{{order.total | currency}}</td></tr>
			</table>
		</div>
	</div>
<!--
<div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-4 control-label">Order type:</label>
			<div class="btn-group col-sm-8">
				<button type="button" class="btn btn-primary" ng-repeat="type in types.orderTypes" ng-model="order.orderType" btn-radio="type.name">
					<span class="{{type.icon}}"><br>{{type.name}}</span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Here/Togo:</label>
			<div class="btn-group col-sm-8">
				<button type="button" class="btn btn-primary" ng-repeat="type in types.htTypes" ng-model="order.htType" btn-radio="type.name">
					<span class="{{type.icon}}"><br>{{type.name}}</span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Order #:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control input-lg" ng-model="order.number">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Customer name:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control input-lg" ng-model="order.customer_name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Reserved time:</label>
			<div class="col-sm-8">
				<div>
					<span>{{order.reserved_time | date:'shortTime'}}</span>
					<span ng-hide="order.reserved_time">No</span>
					<button class="btn btn-danger" ng-click="clear()" style="margin-left:10px">Clear</button>
				</div>
				<div>
					<span ng-model="order.reserved_time" >
						<timepicker show-meridian="ismeridian"></timepicker>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
			<button class="btn btn-default btn-lg" ng-click="pay()" ng-show="order.paymentType=='Unpaid'">Pay</button></a>
			<button class="btn btn-primary btn-lg" ng-click="save()">Save</button>
		</div>

	</form>
</div>
-->
</div>