<div class="row hidden-print">
	<div id="header" class="col-md-12">
		<div class="col-md-1">
			<a href="#/list"><button class="btn btn-danger btn-lg btn-block">
				<span class="glyphicon glyphicon-home"></span>
			</button></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Name & Reserved Time</h3>
			</div>
			<div class="panel-body">
				<div>
					<label>Customer Name: </label>
					<input type="text" class="form-control" ng-model="order.customer_name" typeahead="name.name for name in firstNames | filter:$viewValue | limitTo:8">
					<label>Special Instruction: </label>
					<textarea ng-model="order.special_instruction" class="form-control" rows="2"></textarea>
				</div>
				<div>
					<label>Reserved Time: </label>
					<div ng-model="order.reserved_time" class="pull-right">
						<timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Order Details</h3>
			</div>
			<table class="table">
				<tr ng-repeat="item in order.items">
					<td>
						<div>{{item.name}}</div>
						<div><small>{{item | optionsToString}}</small></div>
					</td>
					<td class="text-right">{{item.price | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Subtotal: </td>
					<td class="text-right">{{order.subtotal | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Tax: </td>
					<td class="text-right">{{order.tax | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Total: </td>
					<td class="text-right">{{order.total | currency}}</td>
				</tr>
			</table>
			<div class="panel-body">
				<table class="table">
					<tr><td class="text-right">Order Number: </td><td>{{order.number}}</td></tr>
					<tr><td class="text-right">Order Type: </td><td>{{order.orderType}}</td></tr>
					<tr><td class="text-right">Here/Togo: </td><td>{{order.htType}}</td></tr>
					<tr><td class="text-right">Customer Name: </td><td>{{order.customer_name}}</td></tr>
					<tr><td class="text-right">Reserved Time: </td><td>{{order.reserved_time | date:'shortTime'}}</td></tr>
					<tr><td class="text-right">Payment Type: </td><td>{{order.paymentType}}</td></tr>
					<tr><td class="text-right">Cash Received: </td><td>{{order.cashReceived}}</td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Payment</h3>
			</div>
			<div class="panel-body">
				<h4 class="text-right">Total Amount : {{ order.total | currency }}</h4>
				<h4 class="text-right">Change : {{ order.cashChange | currency }}</h4>
				<div>
					<div class="col-md-3 pull-left marginTop10">
						<button class="btn btn-default btn-lg btn-block" ng-class="{active:isUnpaid}" ng-click="clickUnpaid()">Unpaid</button>
					</div>
					<div class="col-md-3 pull-left marginTop10">
						<button class="btn btn-default btn-lg btn-block" ng-class="{active:isCredit}" ng-click="clickCredit()">Credit</button>
					</div>
					<div class="col-md-3 pull-left marginTop10" ng-repeat="bill in bills">
						<button class="btn btn-default btn-lg btn-block" ng-click="clickBill(bill)" ng-class="{active: bill.selected}">{{ bill.amount }}</button>
					</div>
					<div class="col-md-3 pull-left marginTop10">
						<input class="form-control input-lg" type="text" ng-model="order.cashReceived" style="width:60px; height: 60px;">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 text-center clear">
			<button type="button" class="btn btn-default btn-lg" ng-click="print()">Print</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="back()">Back</button>
			<button type="submit" class="btn btn-primary btn-lg" ng-click="add()">Submit</button>
		</div>

	</div>
</div>


<div class="visible-print">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Order Details</h3>
			</div>
			<table class="table">
				<tr ng-repeat="item in order.items">
					<td>
						<div>{{item.name}}</div>
						<div><small>{{item | optionsToString}}</small></div>
					</td>
					<td class="text-right">{{item.price | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Subtotal: </td>
					<td class="text-right">{{order.subtotal | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Tax: </td>
					<td class="text-right">{{order.tax | currency}}</td>
				</tr>
				<tr>
					<td class="text-right">Total: </td>
					<td class="text-right">{{order.total | currency}}</td>
				</tr>
			</table>
			<div class="panel-body">
				<table class="table">
					<tr><td class="text-right">Order Number: </td><td>{{order.number}}</td></tr>
					<tr><td class="text-right">Order Type: </td><td>{{order.orderType}}</td></tr>
					<tr><td class="text-right">Here/Togo: </td><td>{{order.htType}}</td></tr>
					<tr><td class="text-right">Customer Name: </td><td>{{order.customer_name}}</td></tr>
					<tr><td class="text-right">Reserved Time: </td><td>{{order.reserved_time | date:'shortTime'}}</td></tr>
					<tr><td class="text-right">Payment Type: </td><td>{{order.paymentType}}</td></tr>
					<tr><td class="text-right">Cash Received: </td><td>{{order.cashReceived}}</td></tr>
				</table>
			</div>
		</div>

</div>


