<div id="receipt_print">
	<h4 class="bold text-center">Midori Teriyaki</h4>
	<div class="block">
		<div class="smallfont pull-left">1120 Howell St.<br>Seattle, WA 98101<br>(206) 624-7273</div>
		<div class="smallfont pull-right text-right">{{order.created_at | date:'longDate'}}<br>{{order.created_at | date:'shortTime'}}</div>
	</div>
	<hr class="clear">
	<div ng-repeat="item in order.items">
		<div class="bold">
			<span>{{ item.name }}</span>
			<span ng-show="item.qty-1"> X {{ item.qty }}</span>
			<span class="pull-right">{{ item.price * item.qty | currency }}</span>
		</div>
		<span class="smallfont">{{item | optionsToString}}</span>
	</div>
	<hr>
	<div class="bold">
		<table class="pull-right">
			<tr><td class="text-right">Subtotal: </td><td class="text-right">{{order.subtotal | currency}}</td></tr>
			<tr><td class="text-right">Tax: </td><td class="text-right">{{order.tax | currency}}</td></tr>
			<tr><td class="text-right">Total: </td><td class="text-right">{{order.total | currency}}</td></tr>
		</table>
	</div>
	<div class="clear">---------------------------</div>
	<div class="clear text-center">
		<span>{{order.orderType}} </span>
		<span>{{order.htType}} </span>
		<span>{{order.paymentType}} </span><br>
	</div>
	<div class="text-center bold">
		<span ng-show="order.customer_name">{{order.customer_name}}</span>
		<span ng-show="order.reserved_time">at {{order.reserved_time | date: 'shortTime'}}</span>
	</div>
</div>
