<div class="container" style="max-width: 600px;">


	<div class="">
		<div>
			<h1 class="pull-left">Time Records</h1>
			<h2 class="pull-right hidden-print" clock></h2>
		</div>
		<p class="clear text-center">
			이 시스템은 출근시각 기록시스템입니다. <br>
			근무 예정시간보다 5-10분 먼저 출근하여, 시간 전에 꼭 클락-인 하길 바랍니다.<br>
			근무 예정시간 보다 늦게 클락-인하면 불리해질수 있습니다.<br>
			오버타임의 경우 관리자의 허락을 받아야만 적용됩니다.
		</p>

		<table class="table hidden-print">
			<thead>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>State</th>
				<th><a href="#/timesheet/new"><button class="btn btn-default">New</button></a></th>
			</thead>
			<tbody>
				<tr ng-repeat="employee in timesheets">
					<td><a href="" ng-click="history(employee)">{{employee.name}}</a></td>
					<td>{{employee.phone}}</td>
					<td>{{employee.email}}</td>
					<td>
						<div>{{employee.state}}</div>
						<div ng-show="employee.state=='check-in'">{{employee.worktimes[employee.worktimes.length-1].checkin | date:'shortTime'}}</div>
						<div ng-show="employee.state=='check-out'">{{employee.worktimes[employee.worktimes.length-1].checkout | date:'shortTime'}}</div>
					</td>
					<td><button class="btn btn-default" ng-click="checkin(employee)">
						<span ng-show="employee.state!='check-in'">Clock In</span>
						<span ng-show="employee.state=='check-in'" class="text-red">Clock Out</span>
					</button></td>
				</tr>
			</tbody>
		</table>
	</div>


<div id="passcode_entry" class="modal hidden-print" tabindex="-1" role="dialog" aria-labelledby="passcode_entry_Label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="passcode_entry_Label">{{employee.name}}</h4>
    	</div>
		<div class="modal-body">
			<h1 class="text-center">Time Recording</h1>
			<input id="passcode" type="password" class="form-control" placeholder="****" ng-model="input_passcode" ng-keyup="check_passcode(input_passcode, employee)">
			<div class="text-red" ng-show="wrongcode">You have a wrong passcode.</div>
			<div>
				<div>Clock In : {{employee.worktimes[employee.worktimes.length-1].checkin | date:'short'}} </div>
				<div>Clock Out : {{employee.worktimes[employee.worktimes.length-1].checkout | date:'short'}} </div>
				<!--<div>Working Hours : {{employee.worktimes[employee.worktimes.length-1].workMinuates | hours}}</div>-->
				<!--<div>Wages : {{employee.worktimes[employee.worktimes.length-1].wage | currency}} </div>-->
			</div>
		</div>		
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
  </div>
</div>

<div id="history" class="modal" tabindex="-1" role="dialog" aria-labelledby="history_Label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="history_Label">{{timelist.name}}</h4>
    	</div>
		<div class="modal-body">
			<table class="table">
				<thead>
					<th>Clock In</th>
					<th>Clock Out</th>
					<!--<th>Hours</th>-->
					<!--<th>Wages</th>-->
				</thead>
				<tr ng-repeat="worktime in timelist.worktimes | orderByPriority | orderBy:'checkin':true">
					<td>{{worktime.checkin | date:'short'}}</td>
					<td>{{worktime.checkout | date:'short'}}</td>
					<!--<td>{{worktime.workMinuates | hours}} ({{worktime.workMinuates}})</td>-->
					<!--<td class="text-right">{{worktime.wage | currency}}</td>-->
				</tr>
				<!--<tr>
					<td></td><td class="text-right">Total:</td>					
					<td>{{timelist.workMinuates | hours}} ({{timelist.workMinuates}})</td>
					<td class="text-right">{{timelist.wages | currency}}</td>
				</tr>
				-->
			</table>
		</div>		
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
  </div>
</div>

</div>

